# Replacement for the local package installs from CodeArtifact
apache-airflow==2.2.2
apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1
crypto=1.4.1
watchtower==1.0.6