# preinstalled with Airflow v2 here: https://github.com/aws/aws-mwaa-local-runner/blob/main/docker/config/requirements.txt

# --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/constraints-3.7.txt"

# rely on above constraints for compatible version
# Shared
pendulum==2.1.2
dask==2021.6.0
docker==5.0.3

# DB
cryptography==3.4.8
snowflake-connector-python[pandas]==2.7.0
pyarrow==5.0.0 # incompatible, but required by above snowflake-connector-python version

# Airflow specific requirements
apache-airflow[package-extra]==2.2.2
apache-airflow-providers-postgres[amazon]==2.3.0 # https://airflow.apache.org/docs/apache-airflow-providers-postgres/2.3.0/connections/postgres.html
apache-airflow-providers-snowflake[common.sql]==2.3.0 # https://airflow.apache.org/docs/apache-airflow-providers-snowflake/2.3.0/connections/snowflake.html
apache-airflow-providers-slack==5.1.0 # https://airflow.apache.org/docs/apache-airflow-providers-slack/5.1.0/connections/slack.html
apache-airflow-providers-dbt-cloud==2.2.0 # https://airflow.apache.org/docs/apache-airflow-providers-dbt-cloud/stable/operators.html#dbt-cloud-operators
apache-airflow[ssh]==2.2.2 # https://airflow.apache.org/docs/apache-airflow-providers-ssh/stable/index.html#apache-airflow-providers-ssh
apache-airflow-providers-pagerduty==2.1.0

# Log
termcolor==1.1.0
logzio_python_handler==3.1.0

# MQ
aio_pika==6.8.1


