--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.6.3/constraints-3.10.txt"

apache-airflow-providers-databricks==4.3.0
apache-airflow-providers-mysql==5.1.1
apache-airflow-providers-sftp==4.3.1
apache-airflow-providers-snowflake==4.2.0
apache-airflow-providers-ssh==3.7.1
